extends base

block content

    section.secret
        .secret__hero
            header.secret__header Welcome to the Secret Page, #{currentUser.username}!
            p.secret__subheader Only logged in users can reach this route
