/*
#     0-600px  :      Phone
#   600-900px  :     tablet (portrait)
#   900-1200px :    tablet(landscape)
  [1200-1800]  :    default(desktop)
    1800px +   :      Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 1.4rem;
  background: #2998ff;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease; }
  .btn:hover {
    background: #3a6edd;
    box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn:active {
    box-shadow: none;
    transform: translateY(-1px); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row:after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 6rem * 2); }

.header {
  color: #fff;
  background: #28b485;
  font-size: 2.5rem;
  width: 100%; }
  .header .nav {
    padding: 0 3.5rem;
    display: flex;
    justify-content: space-between; }
    .header .nav .brand {
      text-decoration: none;
      padding: 0.8rem 1.5rem; }
      .header .nav .brand:active, .header .nav .brand:visited {
        color: inherit; }
    .header .nav .nav__list {
      display: flex;
      align-items: center; }
      .header .nav .nav__list .nav__item {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2rem; }
        .header .nav .nav__list .nav__item:not(:last-child) {
          margin: 0.8rem; }
        .header .nav .nav__list .nav__item:active, .header .nav .nav__list .nav__item:visited {
          color: inherit; }

.footer {
  width: 100%;
  color: #333;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .copyright {
    padding: 2rem 4.5rem; }

.hero {
  background: linear-gradient(to bottom right, #3a88ee, #46b9d6);
  line-height: 1.6;
  width: 70%;
  margin: 2.5rem auto;
  padding: 2rem 3.5rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 3px #aaa; }
  .hero .hero__header {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 300; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: 'Roboto', san-serif;
  min-height: 100vh; }
