// COLORS
$color-primary: #0190de;
$color-primary-light: #83b8ef;
$color-primary-dark: #0058a0;

$color-secondary-light: #b5a5ef;
$color-secondary-dark: #6557bf;

$color-tertiary-light: #ff5e89;
$color-tertiary-dark: #d02459;

$color-gray-light: #dddee2;
$color-gray-light-2: #cecfd2;
$color-gray-light-3: #bebfc2;

$color-gray-dark: #9fa8b6;
$color-gray-dark-2: #808d9e;
$color-gray-dark-3: #4e5d6f;

$color-white: #ebefe8;
$color-black: #0f1117;

// SHADOWS
$shadow-light: 2px 2px 3px rgba(0, 0, 0, 0.1);
$shadow-dark: 2px 2px 3px rgba(0, 0, 0, 0.3);
$btn-shadow-primary: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
$btn-shadow-active: 0 2px 7px 2px rgba(0, 0, 0, 0.15);

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
