.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 1.4rem;
    background: $color-tertiary-light;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    &:hover {
        background: #3a6edd;
        box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: none;
        transform: translateY(-1px);
    }
}
