.header {
    color: $color-white;
    background: $color-primary-dark;
    width: 100%;

    .nav {
        padding: 0 3.5rem;
        display: flex;
        justify-content: space-between;

        .brand {
            font-size: 2.5rem;
            text-decoration: none;
            padding: 1.2rem 1.5rem;

            &:active,
            &:visited {
                color: inherit;
            }
        }

        .nav__list {
            display: flex;
            align-items: center;

            .nav__item {
                text-decoration: none;
                font-size: 2rem;

                &:not(:last-child) {
                    margin: 0.8rem;
                }

                &:active,
                &:visited {
                    color: inherit;
                }
            }

            .user__info {
                margin: 0 1.5rem;
            }
        }
    }
}
