.header {
    color: $color-white;
    background: $color-primary-dark;
    font-size: 2.5rem;
    width: 100%;

    .nav {
        padding: 0 3.5rem;
        display: flex;
        justify-content: space-between;

        .brand {
            text-decoration: none;
            padding: 0.8rem 1.5rem;

            &:active,
            &:visited {
                color: inherit;
            }
        }

        .nav__list {
            display: flex;
            align-items: center;

            .nav__item {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 2rem;

                &:not(:last-child) {
                    margin: 0.8rem;
                }

                &:active,
                &:visited {
                    color: inherit;
                }
            }
        }
    }
}
